<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title><%= locals.title %></title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- DATATABLE -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
        <!-- CHART -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
        <!-- FONT -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <!-- PICKER -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icheck-bootstrap@3.0.1/icheck-bootstrap.min.css">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />

        <!-- QUILL -->
        <!-- Theme included stylesheets -->
        <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css" />


        <!-- LOCAL -->
        <link rel="stylesheet" href="/assets/css/template/style.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        
    </head>
    <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-cyan navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/" class="nav-link">Accueil</a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> 4 new messages
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> 8 friend requests
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> 3 new reports
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
            <% if( user.isLogin() ){ %>
            <li class="nav-item">
                <a class="nav-link" href="/logout/"><i class="fas fa-power-off"></i></a>
            </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i class="fas fa-th-large"></i></a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
            <img src="/assets/img/gn.gif" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
            <span class="brand-text font-weight-light">INTRANET</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <% if( user.isLogin() ){ %> 
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="/assets/img/<%= user.auth.avatar %>.png" class="img-circle elevation-2">
                </div>
                <div class="info">
                    <a href="/users/profil/<%= user.auth.id %>" class="d-block"><%= user.auth.name %> - <%= locals.config.ranks[user.auth.grade] %></a>
                </div>
            </div>
            <% }else{ %>
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <a href="/login/" class="btn btn-primary" style="width: 100%;">Connexion</a>
            </div>

            <% } %>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                    <li class="nav-item has-treeview menu-open">
                        <li class="nav-item">
                            <a href="/" class="nav-link" id="header-home">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <% if( user.isLogin() ){ %> 
                        <li class="nav-header">INFORMATIONS</li>
                        <li class="nav-item">
                            <a href="/info/reglement/" class="nav-link" id="header-reglement">
                                <i class="nav-icon fas fa-gavel"></i>
                                <p>Règlement de l'institution</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/info/code/" class="nav-link" id="header-code">
                                <i class="nav-icon fas fa-tablet"></i>
                                <p>Code pénal</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/info/" class="nav-link" id="header-info">
                                <i class="nav-icon fas fa-info-circle"></i>
                                <p>Informations</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/info/radio/" class="nav-link" id="header-rad">
                                <i class="nav-icon fas fa-broadcast-tower"></i>
                                <p>Indicatif Radio</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/fichiers/interpol" class="nav-link" id="header-interpol">
                                <i class="nav-icon fas fa-balance-scale"></i>
                                <p>Interpole</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/info/vehicle" class="nav-link" id="header-vehicle">
                                <i class="nav-icon fas fa-truck-monster"></i>
                                <p>Parc Automobile</p>
                            </a>
                        </li>

                        <li class="nav-header">SERVICES</li>

                        <li class="nav-item">
                            <a href="/sim/" class="nav-link" id="header-sim">
                                <i class="nav-icon fas fa-at"></i>
                                <p>S.I.M</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/cgr/" class="nav-link" id="header-cgr">
                                <i class="nav-icon fas fa-archive"></i>
                                <p>C.G.R</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-server"></i>
                                <p>
                                    Feuille de présence
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="https://forms.gle/Lv88tNMFgjCLPWy69" class="nav-link" id="header-PDS">
                                        <i class="fas fa-clock nav-icon"></i>
                                        <p>Prise de service</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://forms.gle/dFGxgUdK5spbWGie6" class="nav-link">
                                        <i class="fab fa-get-pocket nav-icon"></i>
                                        <p>Absences</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/fichiers/" class="nav-link" id="header-casiers">
                                <i class="nav-icon fas fa-address-book"></i>
                                <p>Fichiers</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/siv/" class="nav-link" id="header-civ">
                                <i class="nav-icon fas fa-space-shuttle"></i>
                                <p>S.I.V</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="header-crp">
                                <i class="nav-icon fas fa-users"></i>
                                <p>C.R.P</p>
                            </a>
                        </li>

                        <li class="nav-header">GESTION</li>
                        <li class="nav-item">
                            <a href="/users/" class="nav-link" id="header-effectif">
                                <i class="nav-icon fas fa-users"></i>
                                <p>Effectifs</p>
                            </a>
                        </li>

                        <li class="nav-header">REPRESSION DES FRAUDES</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="header-ent">
                                <i class="nav-icon fas fa-store-alt"></i>
                                <p>Entreprise</p>
                            </a>
                        </li>
                        <% } %>
                        <% if( user.checkPerm("is_em") ){ %>
                        <li class="nav-header">ETAT MAJOR</li>

                        <% } %>
                        <% if( user.isAdmin() ){ %>
                        <li class="nav-header">ADMINISTRATION</li>
                        <li class="nav-item">
                            <a href="http://mysql.dragibull.fr/" class="nav-link" target="_blank">
                                <i class="nav-icon fas fa-archive"></i>
                                <p>Phpmyadmin</p>
                            </a>
                        </li>
                        <% } %>

                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>