<%
	include header 
	var settings = JSON.parse( locals.user.auth.settings );
%>

<div class="content-wrapper">
<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
		  		<div class="col-sm-6">
					<h1>Accueil</h1>
		  		</div>
		  		<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
			  			<li class="breadcrumb-item active">Accueil</li>
					</ol>
		  		</div>
			</div>
	  	</div>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">


		<% if( user.isLogin() ){ %> 
		<div class="row">
			<div class="offset-lg-4 col-lg-4 col-6">
				<div class="small-box bg-danger">
					<div class="inner">
						<h3><%= locals.config.globalConfig.alertLevel %></h3>

						<p>Niveau D'alerte</p>
					</div>
					<div class="icon">
						<i class="fas fa-exclamation-circle"></i>
					</div>
					<a href="#" class="small-box-footer">
					Tout les niveaux d'alerte <i class="fas fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="card card-default">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-broadcast-tower"></i>
							Liste des fréquences radios
						</h3>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box mb-3">
									<span class="info-box-icon bg-info elevation-1"><i class="fas fa-broadcast-tower"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Fréquence Longue</span>
										<span class="info-box-number"><%= locals.config.globalConfig.radio.longue %> Mhz</span>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box mb-3">
									<span class="info-box-icon bg-warning elevation-1"><i class="fas fa-broadcast-tower"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Fréquence BSPM</span>
										<span class="info-box-number"><%= locals.config.globalConfig.radio.BSPM %> Mhz</span>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box mb-3">
									<span class="info-box-icon bg-success elevation-1"><i class="fas fa-broadcast-tower"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Fréquence ADT</span>
										<span class="info-box-number"><%= locals.config.globalConfig.radio.ADT %> Mhz</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box">
									<span class="info-box-icon bg-white elevation-1"><i class="fas fa-wave-square"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Fréquence PAM 01</span>
										<span class="info-box-number"><%= locals.config.globalConfig.radio.PAM %> Mhz</span>
									</div>
								</div>
							</div>

							<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box">
									<span class="info-box-icon bg-white elevation-1"><i class="fas fa-wave-square"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Fréquence PAM 02</span>
										<span class="info-box-number"><%= locals.config.globalConfig.radio.PAM + 1 %> Mhz</span>
									</div>
								</div>
							</div>

							<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box">
									<span class="info-box-icon bg-white elevation-1"><i class="fas fa-wave-square"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Fréquence PAM 03</span>
										<span class="info-box-number"><%= locals.config.globalConfig.radio.PAM + 2 %> Mhz</span>
									</div>
								</div>
							</div>

							<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box">
									<span class="info-box-icon bg-white elevation-1"><i class="fas fa-wave-square"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Fréquence PAM 04</span>
										<span class="info-box-number"><%= locals.config.globalConfig.radio.PAM + 3 %> Mhz</span>
									</div>
								</div>
							</div>


						</div>
						<div class="row">
							<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box mb-3">
									<span class="info-box-icon bg-dark elevation-1"><i class="fas fa-wave-square"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Fréquence PSIG 01</span>
										<span class="info-box-number"><%= locals.config.globalConfig.radio.PSIG %> Mhz</span>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box mb-3">
									<span class="info-box-icon bg-dark elevation-1"><i class="fas fa-wave-square"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Fréquence PSIG 02</span>
										<span class="info-box-number"><%= locals.config.globalConfig.radio.PSIG + 1 %> Mhz</span>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box mb-3">
									<span class="info-box-icon bg-blue elevation-1"><i class="fas fa-wave-square"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Fréquence BMO 01</span>
										<span class="info-box-number"><%= locals.config.globalConfig.radio.BMO %> Mhz</span>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box mb-3">
									<span class="info-box-icon bg-blue elevation-1"><i class="fas fa-wave-square"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Fréquence BMO 02</span>
										<span class="info-box-number"><%= locals.config.globalConfig.radio.BMO + 1 %> Mhz</span>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

        <div class="row">
        	<div class="col-md-12">
				<div class="card card-default">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-exclamation-triangle"></i>
							CARTE DES SECTEURS
						</h3>
					</div>
					<div class="card-body">
						<!--<a href="/assets/img/map_secteur.png"><img src="assets/img/map_secteur_ico.png" style="width: 100%;" /></a>-->
					</div>
				</div>
			</div>
        </div>

		<% if( user.checkPerm('tuto') && !user.isAdmin() ){ %>
		<div class="modal fade" id="presvideo">
	        <div class="modal-dialog modal-lg">
	          	<div class="modal-content">
	            	<div class="modal-header">
	              		<h4 class="modal-title">Bienvenue</h4>
	              		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                		<span aria-hidden="true">&times;</span>
	              		</button>
	            	</div>
	            	<div class="modal-body">
	            		<video src="/assets/vid/vid.mp4" style="width: 100%;" controls>
							Votre navigateur ne gère pas l'élément <code>video</code>.
						</video>
					</div>
	            	<div class="modal-footer justify-content-between">
	              		<button type="button" id="dismissbutton" class="btn btn-warning">Ne plus voir cette vidéo</button>
	              		<button type="button"  class="btn btn-primary" data-dismiss="modal">Continuer</button>
	            	</div>
	          	</div>
	          	<!-- /.modal-content -->
	        </div>
	        <!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		<% } %>


		<% } else { %>
		<div class="row">
			<div class="col-md-12">
				<div class="card card-default">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-exclamation-triangle"></i>
							INTRANET DE LA GENDARMERIE NATIONNALE DE MALDEN
						</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<p><strong>Bienvenue sur l'intranet</strong></p>
						<p>L'intranet est le logiciel de gestion de la gendarmerie nationnale.</br>
						L'accès à l'intranet est protégé, veuillez donc vous connecter avant de continuer.</p>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
		<% } %>
	</section>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
	$("#presvideo").modal()
	const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });

	$('#dismissbutton').on('click', () => {
        $.ajax({
            type: 'GET',
            url: "/index/skiptuto/",            
            success: function( data ) {
            	$("#presvideo").modal('hide')
            	Toast.fire({
			        type: 'success',
			        title: 'La vidéo ne serra plus affiché'
			    })
            },
            error: function( err ) {
                console.log( err  );
            }
        });
    });
  });
</script>

<% include footer %>