<% include header %>

<% var settings = JSON.parse( user.auth.settings ); %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Code pénal</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Intranet</a></li>
                        <li class="breadcrumb-item active">Code pénal</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <% if( settings.perms.manageCode.addCode ){%>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-orange"><i class="fas fa-plus-circle"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">MODIFIER DE CODE</span>
                            <a href="#" data-toggle="modal" data-target="#addlaw" class="btn btn-success btn-sm btn-block" role="button">
                                <i class="fas fa-plus-circle"></i> Ajouter 
                            </a>
                            <a href="#" data-toggle="modal" data-target="#deletelaw" class="btn btn-danger btn-sm btn-block" role="button">
                                <i class="fas fa-plus-circle"></i> supprimer
                            </a>
                    </div>
                </div>
            </div>

            <div class="modal fadev" id="addlaw" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Ajouter une loi / catégorie</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/info/code/add" method="POST" id="addlawform">
                                <div class="form-group">
                                    <label for="title">Titre</label>
                                    <input type="text" class="form-control" name="title" id="title" >
                                </div>
                                <div class="form-group">
                                    <label for="type">Type</label>
                                    <select class="form-control" id="type" name="type">
                                        <option value="0" disable>Catégorie</option>
                                        <option value="1" selected>Loi</option>
                                    </select>
                                </div>
                                <div id="lawdir">
                                    <div class="form-group">
                                        <label for="cat">Catégorie</label>
                                        <select class="form-control" id="cat" name="cat">
                                            <% for( var k in locals.type ){
                                                var tbl = locals.type[k];
                                            %>
                                            <option value="<%= tbl.codeType_id %>"><%= tbl.codeType_titre %></option>
                                            <%}%>
                                        </select>
                                    </div>
                                
                                    <div class="form-group">
                                        <label for="amende">Amende</label>
                                        <input type="number" class="form-control" name="amende" id="amende">
                                    </div>
                                    <div class="form-group">
                                        <label for="sanction">Sanctions</label>
                                        <input type="text" class="form-control" name="sanction" id="sanction">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="icheck-primary">
                                                    <input type="checkbox" name="opj" id="opj"/>
                                                    <label for="opj">OPJ</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuler</button>
                            <a type="button" id="addlawbutton" class="btn btn-primary">Ajouter</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fadev" id="deletelaw" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">supprimer une loi / catégorie</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/info/code/remove" method="POST" id="deletelawform">
                                <div class="form-group">
                                    <label for="typedel">Type</label>
                                    <select class="form-control" id="typedel" name="typedel">
                                        <option value="0" disable>Catégorie</option>
                                        <option value="1" selected>Loi</option>
                                    </select>
                                </div>
                                <div id="catdir">
                                    <div class="form-group">
                                        <label for="catdel">Catégorie</label>
                                        <select class="form-control" id="catdel" name="catdel">
                                            <% for( var k in locals.type ){
                                                var tbl = locals.type[k];
                                            %>
                                            <option value="<%= tbl.codeType_id %>"><%= tbl.codeType_titre %></option>
                                            <%}%>
                                        </select>
                                    </div>
                                </div>

                                <div id="lawdir2">
                                    <div class="form-group">
                                        <label for="lawdel">Loi</label>
                                        <select class="form-control" id="lawdel" name="lawdel">
                                            <% for( var k in locals.type ){
                                                var types = locals.type[k];%>
                                                <optgroup label="<%= types.codeType_titre %>">
                                                    <% for( var v in locals.code ){
                                                        var tbl = locals.code[v]; 
                                                        if(tbl.codeLaw_category == types.codeType_id){%>
                                                        <option value="<%= tbl.codeLaw_id %>"><%= tbl.codeLaw_titre %></option>
                                                        <%}
                                                    }
                                                    %>
                                                </optgroup>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuler</button>
                            <a type="button" id="deletelawbutton" class="btn btn-primary">Ajouter</a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>

	    <% for( var k in locals.type ){
	        var tbl = locals.type[k];
	    %>
			<div class="col-md-12">
				<div class="card card-default">
					<div class="card-header">
						<h3 class="card-title">
							<%= tbl.codeType_titre %>
						</h3>
					</div>
					<div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th style="width: 50px">Amende</th>
                                    <th style="width: 200px">Sanctions</th>
                                    <th style="width: 20px">OPJ</th>
                                </tr>
                            </thead>
                            <tbody>



                                <% for( var v in locals.code ){
                                    var tble = locals.code[v]; 
                                    if(tble.codeLaw_category == tbl.codeType_id){%>
                                        <tr>
                                            <td><%= tble.codeLaw_titre %></td>
                                            <td><%= tble.codeLaw_amende %></td>
                                            <td>
                                                <%
                                                    var sanctions = tble.codeLaw_sanction.split(",");
                                                    for( var x in sanctions){
                                                        var sanction = sanctions[x];%>
                                                        <span class="badge badge-primary"><%= sanction %></span>
                                                    <%}

                                                %>
                                            </td>
                                            <td>
                                                <%if (tble.codeLaw_opj){%>
                                                    <span class="badge bg-danger">OUI</span>
                                                <%}else{%>
                                                    <span class="badge bg-success">NON</span>
                                                <%}%>
                                            </td>
                                        </tr>
                                    <%}
                                }
                                %>
                                
                            </tbody>
                        </table>
					</div>
				</div>
			</div>
     	<%}%>

    </section>
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        setActive('code')
        $("#type").on("change", () => {
			if($("#type").val() == 1){
                $("#lawdir").show();
            }else{
                $("#lawdir").hide();
            }
        })
        $("#catdir").hide();
        $("#typedel").on("change", () => {
			if($("#typedel").val() == 1){
                $("#catdir").hide();
                $("#lawdir2").show();
            }else{
                $("#lawdir2").hide();
                $("#catdir").show();
            }
        })

        $('#addlawbutton').on('click', () => {
            $('#addlawform').submit();
        });
        $('#deletelawbutton').on('click', () => {
            $('#deletelawform').submit();
        });
    });
</script>  

<% include footer %>