<% include header %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Informations générales</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Intranet</a></li>
                        <li class="breadcrumb-item active">Informations</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Informations générales
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="card-body">
                        <ul>
                            <li>Les graines de produits stupéfiants sont légales</li>
                            <li>Dans le cas ou elles sont considérées comme illégales: produits issus en cours de plantations ou en fin de plantations prêtes à la vente</li>
                            <li>La verbalisation sur le parebrise d'un véhicule est apposée uniquement en cas d'infraction aux stationnements, elle est à 5 000€</li>
                            <li>La mise en fourrière d'un véhicule ne peut se faire si un procès verbal de contravention sur le parebrise est apposée dessus. (PAS D'AMENDE SUR LE VL + M.E.F)</li>
                            <li>Si un individu déclare détenir un objet illégale ou dangereux dans son sac il est parfaitement autorisé de saisir l’objet en question sans obligatoirement être OPJ</li>
                            <li>L’aveu est une déclaration volontaire, consciente, d’une personne en pleine capacité juridique, reconnaissant la participation à une infraction contraventionnelle, délictuelle ou criminelle.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Discords
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <center><h4>Discord Gendarmerie</h4></center>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><i class="fab fa-discord"></i> Rejoindre</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <iframe src="https://discordapp.com/widget?id=488769139364855809&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <center><h4>Discord Inter-Services</h4></center>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <a href="https://discord.gg/nw3hD7E" class="btn btn-primary btn-sm btn-block" role="button"><i class="fab fa-discord"></i> Rejoindre</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <iframe src="https://discordapp.com/widget?id=488769139364855809&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Tableau des sanctions
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="card-body">
                        <img src="https://i.imgur.com/jbzSvgV.png" style="width: 100%;">
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Tableau des habilitation par grade et par formation
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="card-body">
                        <img src="https://i.imgur.com/mmyJXvX.png" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Tableau relatif a la passation des grades dans l'institution
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="card-body">
                        <img src="https://i.imgur.com/xtmimlZ.png" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
            
    </section>
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        setActive('info')
    });
</script> 

<% include footer %>