<% include header %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Indicatifs et communications de base radios</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Intranet</a></li>
                        <li class="breadcrumb-item active">Indicatifs et communications de base radios</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-12">
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">
                indicatifs radios
              </h3>
            </div>
            <!-- /.box-header -->
            <div class="card-body">
                <p>Patrouille classique - Police Secours: <span style="color: #ff002f;">[PAM 01] - [PAM 02]</span></p>
                <p>Patrouille spécialisée - PSIG/EDSR/OPJ/BCCS : [PSIG 1] - [ERI 1 ou BMO 1] - [OPJ 1] - [BCCS 1]</p><br>

                <p><span style="color: #ff002f;"><b>CORG:</b> Centre Opérationnel de Régulation de la Gendarmerie</span></p>
                <p><span style="color: #ff002f;"><b>TV:</b> Transport Véhiculé, souvent associé avec les indicatifs de personnels.</span></p>
                <p><span style="color: #ff002f;"><b>AVP:</b> Accident sur Voie Publique. À compléter par corpo ou matériel selon la gravité.</span></p>
                <p><span style="color: #ff9d00;"><b>VPS:</b> Véhicule de Premiers Secours</span></p>
                <p><span style="color: #ff9d00;"><b>VSAV:</b> Véhicule de Secours À Victime</span></p>
                <p><span style="color: #ff9d00;"><b>SP:</b> Sapeurs Pompiers</span></p>
                <p><span style="color: #95c3c4;"><b>VP:</b> Voie Publique</span></p>
                <p><span style="color: #95c3c4;"><b>CR:</b> Contrôle Routier mais aussi Compte Rendu</span></p>
                <p><span style="color: #95c3c4;"><b>CRA:</b> Contrôle Routier Automatisé, à comprendre Controle Radar</span></p>
                <p><span style="color: #95c3c4;"><b>DIR:</b> Direction Interrégionale Routière</span></p>
                <p><span style="color: #95c3c4;"><b>ADT:</b> Armée de Terre</span></p>
                <p><span style="color: #95c3c4;"><b>EC:</b> Eagle Chemicals</span></p>
                <p><span style="color: #95c3c4;"><b>LC:</b> Luxury Cars</span></p>
                <p><span style="color: #95c3c4;"><b>MT:</b> Metal Tech</span></p>
                <p><span style="color: #95c3c4;"><b>AN:</b> AmmuNation</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">
                Indicatifs des personnels
              </h3>
            </div>
            <!-- /.box-header -->
            <div class="card-body">
                <p>Major: TJ (<span style="color: #366bff;">Millers : TJ ALPHA</span>)</p>
                <p>Lieutenant: TL (<span style="color: #366bff;">E.Ochoa : TL ALPHA  M.Rockatansky :TL BRAVO Fernandez :TL CHARLIE</span>)</p>
                <p>Capitaine; TO (<span style="color: #366bff;">- : TO ALPHA, - :TO BRAVO, -:TO CHARLIE</span>)</p>
                <p>Commandant: TK (<span style="color: #366bff;">- : TK ALPHA  - :TK BRAVO</span>)</p>
                <p>Lieutenant Colonel: TX (<span style="color: #366bff;">- : TX ALPHA</span>)</p>
                <p>Colonel: TI (<span style="color: #366bff;">Colonel Hawk: TI ALPHA</span>)</p>
                <p>Général d’armée: TZ (<span style="color: #366bff;">Général d’Armée Métélion: TZ ALPHA</span>)</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">
                communcation à effectuer
              </h3>
            </div>
            <!-- /.box-header -->
            <div class="card-body">
                <p><b>Prise de service:</b> COG de TZ ALPHA, pour vous informer d’une prise de service, terminé.</p>

                <p><b>Début de patrouille, se rendre disponible:</b> <span style="color: #008738;">COG</span> de <span style="color: #ff002f;">PAM 01</span>, pour vous informer d’une prise de service de la <span style="color: #ff002f;">PAM 01</span> équipé à 1+1+1 (3 gardes différents) à bord d’une Audi RS4. Terminé.</p>

                <p><b>Patrouille indisponible pour X raison:</b> <span style="color: #008738;">COG</span> de <span style="color: #ff002f;">PAM 01</span>, indispo. Terminé</p>

                <p><b>Patrouille faisant retour à la brigade:</b> <span style="color: #008738;">COG</span> de <span style="color: #ff002f;">PAM 01</span>, procédons à un retour à la brigade.</p>

                <p><b>Patrouille fait un contrôle routier:</b> <span style="color: #008738;">COG</span> de <span style="color: #ff002f;">PAM 01</span>, procède à un CR à LIEU. Terminé.</p>

                <p><b>Patrouille établissant un contrôle radar:</b> <span style="color: #008738;">COG</span> de <span style="color: #ff002f;">PAM 01</span>, établit un CRA au LIEU . Terminé.</p>

                <p><b>Patrouille demandant un renfort pour X raison:</b> URGENT <span style="color: #008738;">COG</span> de <span style="color: #ff002f;">PAM 01</span>, renfort demandé à LIEU. Terminé.</p>

                <p><b>Patrouille demandant un soutien pour X raison:</b> <span style="color: #008738;">COG</span> de <span style="color: #ff002f;">PAM 01</span>, soutien demandé pour X RAISON à LIEU. Terminé.</p>

                <p><b>Patrouille demandant des moyens supplémentaires suite à un AVP:</b> <span style="color: #008738;">COG</span> de <span style="color: #ff002f;">PAM 01</span>, en présence d’un AVP au LIEU, comptant X nombres de victimes, véhicules impliqués. Demandons SP, DIR et soutien? Terminé.</p>

                <p><b>Patrouille confronté à un refus d’obtempérer:</b> <span style="color: #008738;">COG</span> de <span style="color: #ff002f;">PAM 01</span>, sommes en chasse sur un refus d’OP au LIEU. Terminé. (A vous de juger si besoin de faire une demande renfort)</p>

                <p><b>Patrouille ayant interpellée un ou plusieurs individus:</b> <span style="color: #008738;">COG</span> de <span style="color: #ff002f;">PAM 01</span>, interpellation à HEURE d’un ou plusieurs individus aux LIEU. Faisons retour Brigade pour présentation OPJ. Indispo.</p>

                <p><b>Patrouille demandant une immatriculation et permis de conduire:</b> <span style="color: #008738;">COG</span> de <span style="color: #ff002f;">PAM 01</span>, demandons un passage SIV et FNPC svp. (Suite vue en formation radio)</p>

                <p><b>Patrouille fin de service:</b> <span style="color: #008738;">COG</span> de <span style="color: #ff002f;">PAM 01</span>, fin de service pour <span style="color: #ff002f;">PAM01</span>. Terminé.</p>

                <p><b>Prise de service d’une patrouille d’autorité:</b> <span style="color: #008738;">COG</span> de <span style="color: #ff002f;">TV TI ALFA</span>, pour vous informer d’une prise de service de la TV TI ALFA équipe à 1+1. Terminé.</p>

                <p><b>Prévenir d’une autorité sur voie publique en patrouille:</b> <span style="color: #008738;">COG</span> de <span style="color: #ff002f;">PAM 01</span>, <span style="color: #ff002f;">TI ALFA</span> sur VP. Terminé.</p>

                <p><b>Patrouille demandant une autorité sur place pour X raisons:</b> <span style="color: #008738;">COG</span> de <span style="color: #ff002f;">PAM 01</span>, demandons une autorité sur place au LIEU pour X raisons. Terminé.</p>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        setActive('rad')
    });
</script> 

<% include footer %>