<% include header %>

<%
    var casiers = locals.casiers

    function formatDate(date) {
        var day = date.getDate();
        var monthIndex = date.getMonth()+1;
        var year = date.getFullYear();
        
        return day + "/" + monthIndex + "/" + year + " à " + date.getHours() + ":" + date.getMinutes();
    }

    function formatDateTime(date) {
        var day = date.getDate();
        var monthIndex = date.getMonth();
        var year = date.getFullYear();
        var monthNames = ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"];
        
        return day + " " + monthNames[monthIndex] + " " + year;
    }
%>

<div class="content-wrapper">
    
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Liste des Casiers</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Intranet</a></li>
                        <li class="breadcrumb-item active">Casiers</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fas fa-tasks"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">NOMBRES DE FICHIERS</span>
                        <span class="info-box-number"><%= casiers.length %></span>
                    </div>
                </div>
            </div>
            <div class="offset-md-6 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fas fa-plus-circle"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">AJOUTER UN FICHIER</span>
                        <a href="#" data-toggle="modal" data-target="#addcasier" class="btn btn-success btn-sm btn-block" role="button">
                            <i class="fas fa-plus-circle"></i> Ajouter 
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addcasier">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Ajouter un fichier</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/fichiers/add/" method="POST" id="addcasierform">
                            <div class="form-group">
                                <label for="prenom">Prénom</label>
                                <input type="text" class="form-control" name="prenom" id="prenom">
                            </div>
                            <div class="form-group">
                                <label for="nom">Nom</label>
                                <input type="text" class="form-control" name="nom" id="nom">
                            </div>
                            <div class="form-group">
                                <label for="birthday">Date de naissance</label>
                                <input type="date" name="birthday" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="phone">Numéro de téléphone</label>
                                <input type="phone" class="form-control" name="phone" id="phone">
                            </div>
                            <div class="form-group">
                                <label for="photo">Photo :</label>
                                <input type="file" name="photo" id="photo">

                                <p class="help-block">Privilegiez une photo carré !</p>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer justify-content-between">
                        <button type="button"  class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="button" id="addcasierbutton" class="btn btn-primary">Créer</button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Fichiers répertoriés :
                        </h3>
                    </div>
                    <div class="card-body">
                        <% if( casiers.length > 0 ){ %>
                        <div class="table-responsive">
                            <table class="table table-striped" id="casiers">
                                <thead>
                                    <tr>
                                        <th scope="col">Prénom - Nom</th>
                                        <th>Date de naissance</th>
                                        <th>Ajouté le</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for( var k in casiers ){
                                        var tbl = casiers[k];
                                        var birthday;
                                        
                                        if(isNaN(tbl.casiers_birthday)){
                                            birthday = "Aucune donnée"
                                        }else{
											birthday = formatDateTime( new Date( tbl.casiers_birthday ) );
                                    	}
                                        var created = formatDate( new Date( tbl.casiers_register_at ) );
                                    %>
                                    <tr>
                                        <td><%= tbl.casiers_prenom %> <%= tbl.casiers_nom %></td>
                                        <td><%= birthday %></td>
                                        <td><%= created %></td>
                                        <td class="text-center">
                                            <a type="button" href="/fichiers/view/<%= tbl.casiers_id %>"><i class="fas fa-sign-in-alt"></i></a>
                                        </td>
                                    </tr>  
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <% } else { %>
                            <h5 class="text-center">Il y a aucun fichier pour le moment.</h5>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>    
    </section>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        $('#casiers').DataTable({
            "lengthChange": true,
            "searching": true,
            "pageLength": 25,
        });  

        setActive('casiers')

        $('#addcasierbutton').on('click', () => {
            $('#addcasierform').submit();
        });
    } );
</script>  

<% include footer %>