<% include header %>

<%  
    function formatDate(date) {
        var day = date.getDate();
        var monthIndex = date.getMonth() + 1;
        var year = date.getFullYear();
        
        return year + "-" + monthIndex + "-" + day;
    }
    function formatDateno(date) {
        var day = date.getDate();
        var monthIndex = date.getMonth() + 1;
        var year = date.getFullYear();
        
        return day + "/" + monthIndex + "/" + year;
    }
    function formatTime(date) { 
        return date.getHours() + ":" + date.getMinutes();
    }
%>
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Casier N°<%= locals.casier.casiers_id %></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Intranet</a></li>
                        <li class="breadcrumb-item"><a href="/casiers/">Casiers</a></li>
                        <li class="breadcrumb-item active">N°<%= locals.casier.casiers_id %></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">
                            Informations générales
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 ">
                                <div class="card card-widget widget-user">
                                    <div class="widget-user-header bg-info">
                                        <h3 class="widget-user-username"><%= locals.casier.casiers_prenom %> <%= locals.casier.casiers_nom %> <% if(locals.casier.casiers_rebelle){ %><span class="badge bg-danger">REBELLE</span><%}%></h3>
                                        <h5 class="widget-user-desc"><%= locals.casier.casiers_telephone %></h5>
                                    </div>

                                    <div class="widget-user-image">
                                        <img class="img-circle elevation-2" src="/assets/img/<%= locals.casier.casiers_photo  %>.png" alt="User Avatar">
                                    </div>

                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-sm-4 border-right">
                                                <div class="description-block">
                                                    <h5 class="description-header">naissance</h5>
                                                    <span class="description-text"><%= formatDateno( new Date( locals.casier.casiers_birthday ) ); %></span>
                                                </div>
                                            </div>
                                            <div class="offset-sm-4 col-sm-4 border-left">
                                                <div class="description-block">
                                                    <h5 class="description-header">Création</h5>
                                                    <span class="description-text"><%= formatDateno( new Date( locals.casier.casiers_register_at ) ); %></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="offset-md-1 col-md-6">
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            Actions :
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-10"><h4>Modifier les informations du dossier : </h4></div>
                                            <div class="col-md-2">
                                                <a href="#" data-toggle="modal" data-target="#updateinfo" class="btn btn-warning btn-sm btn-block" role="button">
                                                    <i class="fas fa-user-edit"></i>
                                                </a>
                                            </div>

                                            <hr>
                                        </div>

                                        
                                        <div class="row">
                                            <div class="col-md-10"><h4>Ajouter une peine : </h4></div>
                                            <div class="col-md-2">
                                                <a href="#" data-toggle="modal" data-target="#addpeine" class="btn btn-success btn-sm btn-block" role="button">
                                                    <i class="fas fa-plus-circle"></i>
                                                </a>
                                            </div>

                                            <hr>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-10"><h4>Supprimer le Fichier : </h4></div>
                                            <div class="col-md-2">
                                                <a href="#" data-toggle="modal" data-target="#updatestat" class="disbled btn btn-danger btn-sm btn-block" role="button">
                                                    <i class="fas fa-biohazard"></i>
                                                </a>
                                            </div>

                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<div class="modal fade" id="updateinfo" role="dialog">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h4 class="modal-title">Modifier le casier</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
		            </div>
		            <div class="modal-body">
		            	<form action="/fichiers/view/<%= locals.casier.casiers_id %>/config/updateinfo/" method="POST" id="updateinfoform">
							<div class="form-group">
								<label for="prenom">Prénom</label>
								<input type="text" class="form-control" id="prenom" name="prenom" value="<%= locals.casier.casiers_prenom %>" required>
							</div>
                            <div class="form-group">
                                <label for="nom">Nom</label>
                                <input type="text" class="form-control" id="nom" name="nom" value="<%= locals.casier.casiers_nom %>" required>
                            </div>
							<div class="form-group">
								<label for="birthday">Date de naissance</label>
								<input type="date" class="form-control" id="birthday" name="birthday" value="<%= locals.casier.casiers_birthday %>">
							</div>
							<div class="form-group">
								<label for="phone">Numéro de téléphone</label>
								<input type="text" class="form-control" id="phone" name="phone" value="<%= locals.casier.casiers_telephone %>">
							</div>
                            <div class="form-group">
                                <div class="icheck-primary">
                                    <% if(locals.casier.casiers_rebelle){ %>
                                        <input type="checkbox" name="rebelle" id="rebelle" checked="" />
                                    <%}else{%>
                                        <input type="checkbox" name="rebelle" id="rebelle" />
                                    <%}%>
                                    <label for="rebelle">Affillié rebelle</label>
                                </div>
                            </div>
							<div class="form-group">
								<label for="exampleInputFile">Photo :</label>
								<input type="file" id="exampleInputFile">

								<p class="help-block">Privilegiez une photo carré !</p>
							</div>
                        </form>
		            </div>

		            <div class="modal-footer">
		                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuler</button>
		                <a type="button" id="updateinfobutton" class="btn btn-primary">Modifier</a>
		            </div>
		        </div>
		    </div>
		</div>

		<div class="modal fadev" id="addpeine" role="dialog">
		    <div class="modal-dialog modal-lg">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h4 class="modal-title">Ajouter une peine</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
		            </div>
		            <div class="modal-body">
                        <form action="/fichiers/view/<%= locals.casier.casiers_id %>/addpeine/" method="POST" id="addpeineform">
                            <div class="form-group">
                                <label for="motif">Motif :</label>
                                <select class="form-control multiple_select" name="motif" id="motifadd" multiple="multiple" style="width: 100%">
                                    <% for( var k in locals.type ){
                                        var types = locals.type[k];
                                        console.log(k);%>
                                        <optgroup label="<%= types.codeType_titre %>">
                                            <% for( var v in locals.code ){
                                                var tbl = locals.code[v]; 
                                                if(tbl.codeLaw_category == types.codeType_id){%>
                                                <option value="<%= tbl.codeLaw_id %>"><%= tbl.codeLaw_titre %></option>
                                                <%}
                                            }
                                            %>
                                        </optgroup>
                                    <% } %>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-md-12" id="amende-viewer">
                                </div>
                            </div>
                            
                        </form>
                    </div>

		            <div class="modal-footer">
		                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuler</button>
		                <a type="button" id="addpeinebutton" class="btn btn-primary">Ajouter</a>
		            </div>
		        </div>
		    </div>
		</div>

        <% for( var k in locals.peines ){
            var tbl = locals.peines[k];
            %>
            <div class="modal fade" id="editpeine<%= tbl.peine_id %>" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editer une peine</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/fichiers/view/<%= locals.casier.casiers_id %>/edit/<%= tbl.peine_id %>" method="POST" id="editpeineform<%= tbl.peine_id %>">
                                <div class="form-group">
                                    <label for="motif">Motif :</label>
                                    <select class="form-control" name="motif" id="motif">
                                        <% for( var k in locals.type ){
                                        var types = locals.type[k]; %>
                                            <optgroup label="<%= types.codeType_titre %>">
                                                <% for( var v in locals.code ){
                                                var tble = locals.code[v];
                                                    if(tble.codeLaw_category == types.codeType_id){
                                                        if(tbl.code_id == tble.codeLaw_id){%>
                                                            <option value="<%= tble.codeLaw_id %>" selected><%= tble.codeLaw_titre %></option>
                                                        <%}else{%>
                                                            <option value="<%= tble.codeLaw_id %>"><%= tble.codeLaw_titre %></option>
                                                        <%}
                                                    }
                                                }
                                                %>
                                            </optgroup>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="amende">Amende</label>
                                    <input type="number" class="form-control" id="amende" name="amende" min="0" value="<%= tbl.peine_amende %>" required>
                                </div>
                                <div class="form-group">
                                    <label for="point">Points retiré(s)</label>
                                    <input type="number" class="form-control" id="point" name="point" min="0" value="<%= tbl.peine_point %>">
                                </div>
                                <div class="form-group">
                                    <div class="icheck-primary">
                                        <% if(tbl.peine_presented){ %>
                                            <input type="checkbox" id="present-<%= tbl.peine_id %>" name="present" checked="" />
                                        <%}else{%>
                                            <input type="checkbox" id="present-<%= tbl.peine_id %>" name="present" />
                                        <%}%>
                                        <label for="present-<%= tbl.peine_id %>">Amende présentée</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Commentaire</label>
                                    <textarea class="form-control" rows="3" name="comment"><%= tbl.peine_comment %></textarea>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuler</button>
                            <a type="button" id="editpeinebutton<%= tbl.peine_id %>" class="btn btn-primary">Ajouter</a>
                        </div>
                    </div>
                </div>
            </div>
            <% if(tbl.peine_comment){%>
                <div class="modal fade" id="comment-<%= tbl.peine_id %>" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Commentaire</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <%= tbl.peine_comment %>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>




        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Peines répertoriées :
                        </h3>
                    </div>
                    <div class="card-body">
                        <% if( locals.peines.length > 0 ){ %>
                        <div class="table-responsive">
                            <table class="table table-striped" id="peines">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Gendarme</th>
                                        <th>Type</th>
                                        <th>Motif</th>
                                        <th>Amende</th>
                                        <th>Points</th>
                                        <th>Présenté</th>
                                        <th>Commentaire</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for( var k in locals.peines ){
                                        var tbl = locals.peines[k];

                                        var created = formatDateno( new Date( tbl.created_at ) );
                                    %>
                                    <tr>
                                        <td><%= created %></td>
                                        <td><%= tbl.peine_gn %></td>
                                        <% if(tbl.codeType_titre){%><td> <%= tbl.codeType_titre %></td><%}else{%><td> Non catégorisé </td><%}%>
                                        <% if(tbl.codeLaw_titre){%><td><%= tbl.codeLaw_titre %></td><%}else{%><td> <%= tbl.code_name %> </td><%}%>
                                        <td><%= tbl.peine_amende %></td>
                                        <td><%= tbl.peine_point %></td>
                                        <td class="text-center"><% if(tbl.peine_presented){%><i class="fas fa-check-square text-success"></i><%}else{%><i class="fas fa-window-close text-danger"></i><%}%></td>
                                        <td>
                                            <% if(tbl.peine_comment){%>
                                                <a href="#" data-toggle="modal" data-target="#comment-<%= tbl.peine_id %>" class="btn btn-primary btn-sm btn-block" role="button">Voir</a>
                                            <%}else{%>
                                                <a href="#" class="btn btn-primary btn-sm btn-block disabled" role="button">Aucun commentaire</a>
                                            <%}%>
                                        </td>
                                        <td class="text-center">
                                            <a type="button" href="#" data-toggle="modal" data-target="#editpeine<%= tbl.peine_id %>"><i class="fas fa-edit"></i></a>
                                            <% if( user.checkPerm("is_em") ){ %><a type="button" href="/fichiers/view/<%= locals.casier.casiers_id %>/delete/<%= tbl.peine_id %>"><i class="fas fa-ban"></i></a><% } %>
                                        </td>
                                    </tr>  
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <% } else { %>
                            <h5 class="text-center">Il y a aucune peine pour le moment.</h5>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {

        $('#peines').DataTable({
            "lengthChange": false,
            "searching": true,
            "pageLength": 25,
        });
        $('.multiple_select').select2({
            width: 'resolve',
            theme: "classic"
        });

        $('#motifadd').on('select2:select', function (e) {
            var data = e.params.data;
            var info;
            $.ajax({
                type: 'GET',
                url: "/api/getcode/" + data.id,            
                success: function( dat ) {
                    info = dat;
                    console.log(info);
                    var defaultBlock = `
                        <div class="card card-default" id="amende-`+data.id+`">
                            <div class="card-header">
                                <h3 class="card-title" id="card-title-`+data.id+`">`+data.text+`</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="amende`+data.id+`">Amende</label>
                                            <input type="number" class="form-control" id="amende`+data.id+`" name="amende`+data.id+`" min="0" value="`+info.code_amende+`" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="point`+data.id+`">Points retiré(s)</label>
                                            <input type="number" class="form-control" id="point`+data.id+`" name="point`+data.id+`" min="0" value="0">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Commentaire</label>
                                            <textarea class="form-control" rows="1" name="comment-`+data.id+`"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="icheck-primary">
                                                <input type="checkbox" name="present`+data.id+`" id="present-`+data.id+`"/>
                                                <label for="present-`+data.id+`">Amende présentée</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    `;

                    $("#amende-viewer").append(defaultBlock);
                },
                error: function( err ) {
                    alert( err  );
                }
            });
        });

        $('#motifadd').on('select2:unselect', function (e) {
            var data = e.params.data;
            $("#amende-"+data.id).remove();
        });

        $('#motifadd').on('change', function() {
            if(this.options[this.selectedIndex] === undefined){
                $("#amende-viewer").html();
            }
        });

        setActive('header-casiers')

        <% for( var k in locals.peines ){
            var tbl = locals.peines[k];
            %>
                $('#editpeinebutton<%= tbl.peine_id %>').on('click', () => {
                    $('#editpeineform<%= tbl.peine_id %>').submit();
                });
        <% } %>

        $('.js-example-basic-multiple').select2();

        $('#updateinfobutton').on('click', () => {
            $('#updateinfoform').submit();
        });

        $('#addpeinebutton').on('click', () => {
            $('#addpeineform').submit();
        });

        $('#updatestatebutton').on('click', () => {
            $('#updatestateform').submit();
        });
    } );
</script>  

<% include footer %>