<% include header %>

<div class="content-wrapper">
    
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Système d'Immatriculation des Véhicules</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Intranet</a></li>
                        <li class="breadcrumb-item active">S.I.V</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
    
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Recherche S.I.V
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <center>
                                    <h3>Entrez une plaque d'immatriculation</h3>
                                    <p>Format : XX-000-XX</p>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-md-3 col-md-6">
                                <form action="/siv/result/" method="POST" id="civform">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="plaque" id="plaque">
                                    </div>
                                    <div class="form-group">
                                        <center>
                                            <button type="button" id="civbutton" class="btn btn-primary">Rechercher</button>
                                        </center>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        setActive('civ')

        $('#civbutton').on('click', () => {
            $('#civform').submit();
        });
    } );
</script>  

<% include footer %>