<% include header %>

<%
    var info = locals.result;
    function formatDate(date) {
        var day = date.getDate();
        var monthIndex = date.getMonth()+1;
        var year = date.getFullYear();
        
        return day + "/" + monthIndex + "/" + year + " à " + date.getHours() + ":" + date.getMinutes();
    }

    function formatDateTime(date) {
        var day = date.getDate();
        var monthIndex = date.getMonth();
        var year = date.getFullYear();
        var monthNames = ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"];
        
        return day + " " + monthNames[monthIndex] + " " + year;
    }
%>

<div class="content-wrapper">
    
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Système d'Immatriculation des Véhicules</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Intranet</a></li>
                        <li class="breadcrumb-item active">S.I.V</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
    
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Resultat S.I.V
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="offset-md-2 col-md-8">
                                <center>
                                    <%
                                    if(!info.error){%>
                                    <h3>Information du véhicule</h3>
                                    <p>
                                        <b>Véhicule : <%= info.vl.classname %></b> <br/>
                                        <b>Type : <%= info.vl.side %></b> <br/>
                                        <b>Propriétaire : <%= info.prop.name %></b> <br/>
                                        <b>Entreprise : <%= info.vl.entreprise_id %></b><br/>
                                        <b>Immatriculation : <%= info.vl.immatriculation %></b> <br/>
                                        <b>En Fourriere : <%= info.vl.fourriere %></b>
                                    </p>
                                    <%}else{%>
                                    <h4>Aucun véhicule trouvé</h4>
                                    <%}%>
                                    
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        setActive('civ')
    } );
</script>  

<% include footer %>