<% include header %>

<%
    var users = locals.users

    function formatDate(date) {
        var day = date.getDate();
        var monthIndex = date.getMonth()+1;
        var year = date.getFullYear();
        
        return day + "/" + monthIndex + "/" + year;
    }
%>

<div class="content-wrapper">
    
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Liste des Effectifs</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Intranet</a></li>
                        <li class="breadcrumb-item active">Effectif</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fas fa-tasks"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">NOMBRES D EFFECTIFS</span>
                        <span class="info-box-number"><%= users.length %></span>
                    </div>
                </div>
            </div>
            <% if( user.checkPerm("add_user") ){ %>
            <div class="offset-md-6 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fas fa-plus-circle"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">AJOUTER UN EFFECTIF</span>
                        <a href="#" data-toggle="modal" data-target="#adduser" class="btn btn-success btn-sm btn-block" role="button">
                            <i class="fas fa-plus-circle"></i> Ajouter 
                        </a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>

        <div class="modal fade" id="adduser">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Ajouter un effectif</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/users/add/" method="POST" id="adduserform">
                            <div class="form-group">
                                <label for="name">Prénom - Nom</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Jack Simon">
                            </div>
                            <div class="form-group date" data-provide="datepicker">
                                <label for="joinat">Date d'entrée</label>
                                <input type="date" name="joinat" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="grade">Grade :</label>
                                <select class="form-control" name="grade" id="grade">
                                    <% for( var k in locals.config.ranks ){
                                    var tbl = locals.config.ranks[k]; %>
                                        <option value="<%= k %>"><%= tbl %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="phone">Numéro de téléphone</label>
                                <input type="phone" class="form-control" name="phone" id="phone">
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer justify-content-between">
                        <button type="button"  class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="button" id="adduserbutton" class="btn btn-primary">Ajouter</button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Liste des effectifs :
                        </h3>
                    </div>
                    <div class="card-body">
                        <% if( users.length > 0 ){ %>
                        <div class="table-responsive">
                            <table class="table table-striped" id="effectif">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom</th>
                                        <th>Grade</th>
                                        <th>Rejoins le</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for( var k in users ){
                                        var tbl = users[k];
                                        var created = formatDate( new Date( tbl.join_at ) );
                                    %>
                                    <tr>
                                        <td><%= tbl.name %></td>
                                        <td><%= locals.config.ranks[tbl.grade] %></td>
                                        <td><%= created %></td>
                                        <td class="text-center">
                                            <a type="button" href="/users/profil/<%= tbl.id %>"><i class="fas fa-sign-in-alt"></i></a>
                                        </td>
                                    </tr>  
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <% } else { %>
                            <h5 class="text-center">Il y a aucun effectif pour le moment.</h5>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>    
    </section>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        $('#effectif').DataTable({
            "lengthChange": true,
            "searching": true,
            "pageLength": 25,
        });  

        setActive('header-effectif')

        $('#adduserbutton').on('click', () => {
            $('#adduserform').submit();
        });
    } );
</script>  

<% include footer %>