<% include header %>

<%
    function formatDate(date) {
        var day = date.getDate();
        var monthIndex = date.getMonth() + 1;
        var year = date.getFullYear();
        
        return day + "/" + monthIndex + "/" + year + " à " + date.getHours() + ":" + date.getMinutes();
    }
%>

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Liste des absences
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Absences</a></li>
            <li class="active">Mes absences</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fas fa-check"></i></span>
        
                    <div class="info-box-content">
                        <span class="info-box-text">ABSENCES</span>
                        <span class="info-box-number"><%= locals.absences.length %></span>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-6 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fas fa-plus-circle"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Déclarer une absence</span>
                        <a href="#" data-toggle="modal" data-target="#addticket" class="btn btn-success btn-sm btn-block" role="button">
                            <i class="fas fa-plus-circle"></i> Ajouter 
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addticket" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Déclarer une absence</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/support/add/" method="POST" id="addticketform">
                            <div class="form-group">
                                <label for="title">Titre</label>
                                <input type="text" class="form-control" name="title" id="title">
                            </div>
                            <div class="form-group">
                                <label for="phone">Contenu</label>
                                <textarea class="form-control" name="content" rows="5" placeholder="Enter ..."></textarea>
                            </div>
                            <div class="form-group">
                                <label>Statut</label>
                                <div class="radio">
                                    <label><input type="radio" name="stat" id="publique" value="0" checked>Publique</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="stat" id="prive" value="1">Privé</label>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuler</button>
                        <a type="button" id="addticketbutton" class="btn btn-primary">Déclarer</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h2 class="box-title">
                            Liste des absences :
                        </h2>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="users">
                                <thead>
                                    <tr>
                                        <th>Date de début</th>
                                        <th>Date de fin</th>
                                        <th>Raison</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for( var k in absences ){
                                        var tbl = absences[k];
                                        var sdate = formatDate( new Date( tbl.start ) );
                                        var edate = formatDate( new Date( tbl.end ) );
                        
                                    %>

                                    <tr>
                                        
                                        <th><%= tbl.sdate %></th>
                                        <th><%= tbl.edate %></th>
                                        <th><%= tbl.reason %></th>
                                        <td class="text-center">
                                            <a type="button" href="#"><i class="fas fa-random"></i></a>
                                        </td>
                                    </tr>
                                    
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        var table = $('#users').DataTable({
            "lengthChange": false,
            "searching": true,
            "pageLength": 10,
        });  


        table.order( [ 0, 'date' ] );
        table.draw();

        function loadSteam( e, steamid) {
            $.ajax({
                type: 'GET',
                url: "/api/steam/getUser/" + steamid,            
                success: function( data ) {
                    var res = data.response;

                    if( res.players[0] != null ){
                        e.html( data.response.players[0].personaname )
                        e.attr( "data-loaded", "true" )
                    } else {
                        e.html( "Joueur introuvable" )
                        e.attr( "data-loaded", "true" )
                    }
                },
                error: function( err ) {
                    console.log( err  );
                }
            });
        };
        $('#addticketbutton').on('click', () => {
            $('#addticketform').submit();
        });

        function getNames(){
            $('.get_name_by_steamid').each( ( i, e ) => {
                var this_ = $(e);
                var loaded = this_.attr( "data-loaded" )

                if( loaded == "false" ){
                    loadSteam( this_, this_.attr( "data-target" ) )
                }
            })            
        }
        

        getNames()   

        $('#users').on('page.dt', function(){
            setTimeout( () => {
                getNames()                
            }, 1000 )
        });

        setActive('publicticketlist')
    } );
</script>  

<% include footer %>