<% include header %>

<%  
	var settings = JSON.parse( user.auth.settings );

	function formatDate(date) {
		var day = date.getDate();
		var monthIndex = date.getMonth() + 1;
		var year = date.getFullYear();
		
		return day + "/" + monthIndex + "/" + year + " à " + date.getHours() + ":" + date.getMinutes();
	}

	function formatDateno(date) {
		var day = date.getDate();
		var monthIndex = date.getMonth() + 1;
		var year = date.getFullYear();
		
		return day + "/" + monthIndex + "/" + year;
	}

	function formatTime(date) { 
		return date.getHours() + "h" + date.getMinutes();
	}
%>
<div class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Profil</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/">Intranet</a></li>
						<li class="breadcrumb-item active">Prise de service</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-md-6">
				<div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Nouveau service
                        </h3>
                    </div>
                    <div class="card-body">
                    	<form action="/services/addPDS/" method="POST" id="addService">
                    		<div class="form-group col-md-12">
                                <label for="day">Date</label>
                                <input type="date" name="day" class="form-control" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="start">Début</label>
                                <input type="time" name="start" class="form-control" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="end">Fin</label>
                                <input type="time" name="end" class="form-control" required>
                            </div>
                    	</form>
                    </div>
                    <div class="card-footer">
                    	<a class="btn btn-success btn-sm btn-block" id="addServiceButton" role="button">Déclarer la prise de service</a>
                    </div>
                </div>
			</div>
			<div class="col-md-6 ">
				<div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Historique des prises de service :
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="service">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Début</th>
                                        <th>Fin</th>
                                        <th>durée</th>
                                        <!--<th class="text-center">Actions</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for( var k in locals.services ){
                                        var tbl = locals.services[k];
                                        var date = formatDateno( new Date( tbl.PDS_date ) );
                                        var start = formatTime( new Date( tbl.PDS_start ) );
                                        var end = formatTime( new Date( tbl.PDS_end ) );
                                    %>
                                    <tr>
                                        <td><%= date %></td>
                                        <td><%= start %></td>
                                        <td><%= end %></td>
                                        <td class="text-center">
                                            <i class="fas fa-exclamation-triangle text-danger"></i>
                                        </td>
                                    </tr>  
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
			</div>
		</div>
		<div class="row">



			<div class="col-md-8">
				<div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Evolution de vos prises de services :
                        </h3>
                    </div>
                    <div class="card-body">
                        <canvas id="LineChart" width="100%" height="30"></canvas>
                    </div>
                </div>
			</div>
			<div class="col-md-4">
				<div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Moyennes des durées :
                        </h3>
                    </div>
                    <div class="card-body">
                        <canvas id="PieChart" width="100%"></canvas>
                    </div>
                </div>
			</div>
		</div>
	</section>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function(event) {
		setActive('PDS')

		var ctx = document.getElementById("LineChart");
		var myLineChart = new Chart(ctx, {
		  type: 'line',
		  data: {
			labels: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Octobre", "Novembre", "Décembre"],
			datasets: [
			  {
				label: "Prise de services",
				lineTension: 0.3,
				backgroundColor: "rgba(72, 224, 69, 0.2)",
				borderColor: "rgba(72, 224, 69,1)",
				pointRadius: 5,
				pointBackgroundColor: "rgba(72, 224, 69,1)",
				pointBorderColor: "rgba(255,255,255,0.8)",
				pointHoverRadius: 5,
				pointHoverBackgroundColor: "rgba(72, 224, 69,1)",
				pointHitRadius: 50,
				pointBorderWidth: 2,
				data: [40, 32, 37, 25, 15, 51, 36, 45, 60, 20, 27, 29],
			  },
			],
		  },

		  options: {
			scales: {
			  xAxes: [{
				time: {
				  unit: 'date'
				},
				gridLines: {
				  display: false
				},
				ticks: {
				  maxTicksLimit: 7
				}
			  }],
			  yAxes: [{
				ticks: {
				  min: 0,
				  maxTicksLimit: 5
				},
				gridLines: {
				  color: "rgba(0, 0, 0, .125)",
				}
			  }],
			},
			legend: {
			  display: false
			}
		  }
		});

		var ctxP = document.getElementById("PieChart").getContext('2d');
	    var myPieChart = new Chart(ctxP, {
	      type: 'pie',
	      data: {
	        labels: ["3H+", "2H - 3H", "1H - 2H", "1H-"],
	        datasets: [{
	          data: [5, 10, 7, 6],
	          backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1"],
	          hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5"]
	        }]
	      },
	      options: {
	        responsive: true
	      }
	    });

		$('#service').DataTable({
            "lengthChange": false,
            "searching": false,
            "pageLength": 25,
        });

		$('#updateSettingsButton').on('click', () => {
			$('#updateSettings').submit();
		});

		$('#addServiceButton').on('click', () => {
			$('#addService').submit();
		});
	});
</script>

<% include footer %>